.flex {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form {
  width: 100%;
}

.addButton {
  width: 100%;
  display: flex;
  justify-content: center;
}
