.cardBody {
  padding: 12px;
  background-color: white;
  border: white solid 1px;
  cursor: pointer;

  &:hover {
    border: #f13a3a solid 1px;
  }
}

.activeCardBody {
  @extend .cardBody;
  padding: 12px;
  border: #f13a3a solid 1px;
}

.brandName {
  padding: 1px;
  text-align: center;
  color: #f13a3a;
}