.main {
  background-color: #f9f9f9;
}

.flex {
  display: flex;
  justify-content: center;
}

.body {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4px;

  img {
    width: 100%;
    height: 320px;
  }
}

.smallBanner {
  width: 1200px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.couponsTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;

  img {
    padding-bottom: 8px;
  }
}

.coupons {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.couponItem {
  width: 33.3%;
  padding-right: 20px;
  margin-top: 30px;
  display: flex;
  justify-content: center;

  &:nth-child(3n) {
    padding-right: 0;
  }
}

.couponsIsEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: gray;
  font-size: 14px;
  margin-bottom: 50px;

  img {
    height: 150px;
    width: 150px;
  }
}

.couponsListIsEmpty {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  img {
    height: 220px;
    width: 220px;
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}