.flex {
  display: flex;
  justify-content: center;
}

.personalDocument {
  padding: 10px 20px 10px 10px;
}

.personalDocumentCard {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: #f5f5f5 solid 1px;
  padding: 20px;

  img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }
}

.body {
  width: 1200px;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 820px;
  background-color: #f5f5f5;
}

.menuAndOutlet {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.personalTitle {
  font-size: 20px;
  text-align: center;
  margin: 20px;
}

.menu {
  background-color: white;

  li {
    border: none;
  }

  ul {
    width: 200px;
    border: none;
  }
}

.myInfo {
  margin-left: 10px;
  padding: 10px;
}

.username {
  font-size: 16px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;

  span {
    display: inline-block;
  }
}

.editButton {
  margin-left: 150px;
}

.birthdayAndGender {
  font-size: 12px;
  color: gray;
  margin-top: 15px;
}

.outlet {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}