.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}

.flex {
  display: flex;
  flex-direction: row;
}

.submit {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;

  button {
    width: 100px;
    height: 40px;
  }
}

.productDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productImg {
  height: 160px;
  width: 160px;
  margin-bottom: 10px;
}

.productName {
  a {
    color: #f13a3a;
    text-decoration: none;
    font-size: 16px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.specsAndTotal {
  width: 50%;
  font-size: 12px;
  margin-top: 10px;
  color: gray;
  display: flex;
  justify-content: center;
}

.card {
  width: 702px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: #f5f5f5 solid 1px;
  padding: 20px;
}

.cardTitle {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  border-bottom: #f5f5f5 solid 1px;
}

.cardTitleText {
  font-size: 18px;
  margin-left: 10px;
}

.rate {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.rateCountStar {
  font-size: 24px;
  color: #f13a3a;

  span {
    margin-left: 14px;
  }
}

.block {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  margin: 10px;
}

.editor {
  height: 300px;
}